<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  IgnorableNamespaces="uap mp iot">

  <Identity
    Name="AllJoynDSBSampleHeadlessAdapterApp"
    Publisher="CN=default"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="6b920f62-d2da-4882-a52b-3ff4c116215c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>AllJoynDSBSampleHeadlessAdapterApp</DisplayName>
    <PublisherDisplayName>default</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10158.0" MaxVersionTested="10.0.10158.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="AllJoynDSBSampleHeadlessAdapterApp">
      <uap:VisualElements
        DisplayName="AllJoynDSBSampleHeadlessAdapterApp"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="AllJoynDSBSampleHeadlessAdapterApp"
        BackgroundColor="#464646"
        AppListEntry="none">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="HeadlessAdapterApp.StartupTask">
          <BackgroundTasks>
            <iot:Task Type="startup" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="allJoyn" />
  </Capabilities>
</Package>
